<h1>New Post</h1>

<%= form_with :model => @posts do |form| %>
  <p>
    <%= form.label "author" %>
    <%= form.text_field "author" %>
  </p>
  <p>
    <%= form.label "body" %>
    <%= form.text_field "body" %>
 </p>
 <p>
    <%= form.label "image", "Image URL" %>
    <%= form.text_field "image" %>
  </p>
  <%= form.submit %>
<% end %>

<p>
    <a href="/posts">Back to main page
    </a>
</p>
